.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 1000px;
    flex-wrap: wrap;

}

.button{
    border: 2px red solid;
    padding: 50px;
    margin: 5px;
}

#red{
    background-color: red;
}
#blue{
    background-color: blue;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}